body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: green;
    color: white;
    padding: 20px 50px;
    border: transparent;
    border-radius: 10px;
    transition: 2s ease-in-out;
    transform: scale(1.5);
   
}
.btn:hover {
    cursor: pointer;
    background-color: yellow;
    font-size: 40px;
    transform: rotate(180deg);
    transform: rotate(30dg, 20deg);
    animation: btnMoving duration timing-function delay iteration-count direction fill-mode;
}
@keyframes btnMoving {
    from {
    transform: translateY(-30px);
    }
    to {
        transform: translateY(0px);
    }
}
